.main {
  background: linear-gradient(272deg, #186a02, #26a306);
  color: #f9f9f9;
  min-height: 100vh;
  position: relative;
  padding-bottom: 12rem;
}

.home .main-header {
  position: relative;
}

.home .main .contact-icons {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(180deg, #778773, #0886fc);
  width: 80%;
  height: 40px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.home .main-header .img img {
  max-height: 12rem;
  width: 100%;
  object-fit: fill;
}

.home .main-header .logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.home .main-header .logo img {
  width: 9rem;
  height: 9rem;
  object-fit: contain;
}

/* home option */

.home .home--option {
  padding: 1rem 1.3rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.home .home--option .option-content {
  padding: 0.7rem;
  border: 1.5px solid #fff;
  border-radius: 10px;
}

.home .option-content h3 {
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}



.main .info {
    margin-top: 3rem;
    padding-inline: 1.1rem;
}

.main .info h3 {
    font-weight: 300;
    color: #f8f8f8;
    text-align: center;
}

.main .contanct { 
    margin: auto;
    margin-top: 2rem;
    padding-inline: 5rem;
    position: relative;
    padding-top: 1rem;
    text-align: center;
}

.main .layout {
  position: absolute;
  width: 60%;
  top: 0;
  height: 8rem;
  background: linear-gradient(350deg, #186a02, #26a306);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 0;
  left: 20%;
  width: 60%;
  z-index: 0;
}

 .content {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}

.main .contact--icons {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.main .contanct::after {
    content: '';
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 1px;
    background-color: white;
}

.main .contanct .contact--icons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* flex-direction: column; */
    gap: 1rem;
    font-size: 1.8rem;
}

.icon  {
  cursor: pointer;
}

.footer-name p {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  font-weight: 400;
  color: #ebebeb;
  cursor : pointer;
}


/* footer */
.main--footer {
  padding-inline: 1.3rem;
  font-size: 1.1rem;
  text-align: center;
}

.main--footer .main--footer--content {
  margin-bottom: 2rem;
}

.main--footer h3 {
  font-weight: 400;
  color: #1e9100;
  text-align: center;
}

.main--footer footer {
    padding-inline: 10rem;
    /* max-height: 5rem; */
    margin: auto;
  max-width: 70%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background : linear-gradient(34deg, #1e9100, #35ce0b);
}



/* media query */

@media screen and (min-width : 767px) {
  .home--option , .home .main-header {
    max-width: 70%;
    /* justify-content: center; */
    margin-inline: auto;
  }
}