.fst {
    max-width: 100%;
    min-height: 65dvh;
    overflow: auto;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 1rem;
    padding-inline: 0.5rem;
}


.fst iframe {
    overflow: auto;
    min-height: 65dvh;
    border-radius: 10px;
    border: none;
    outline: none;
}