.poste-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding:1rem;
  padding-right: 0.5rem;
  z-index: 10;
  position: sticky;
  top: 0;
}




header h2 {
  font-family: 'Arial', 'Tajawal', sans-serif;
}





.poste-header img {
  max-width: 100%;
  width: 3rem;
}

/* ? left side */


/* ? right side */

.right-side img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* ? right - side */

header .right-side  {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

header .right-side .add {
  font-size: 1.4rem;
  display: flex;
  background: var(--primary-color);
  padding: 0.75rem;
  border-radius: 50%;
  color: var(--gray-color);
  cursor: pointer;
  transition: var(--tr-03);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: var(--tr-03);
  -moz-transition: var(--tr-03);
  -ms-transition: var(--tr-03);
  -o-transition: var(--tr-03);
}


.right-side  .add:hover {
  background-color: var(--primary-hover);
}

.left-side {
  display: flex;
  
}

.left-side > img {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.left-side img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.left-side > img:hover {
  opacity: 0.8;
}

.left-side > img:focus,
.left-side > img:active {
  transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
}



.right-side .logout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  font-size: 1.3rem;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
  text-align: center;
  color: var(--gray-color);
  transition: var(--tr-03);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transition: var(--tr-03);
  -moz-transition: var(--tr-03);
  -ms-transition: var(--tr-03);
  -o-transition: var(--tr-03);
}

.right-side .logout:hover {
  background-color: rgb(221, 16, 16);
}

.right-side .add:focus,
.right-side .add:active,
.right-side .logout:focus,
.right-side .logout:active
{
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.right-side .logout:focus svg,
.right-side .logout:active svg
{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.right-side .logout svg {
  width: 1.5rem;
}
/* ? meu icon */
 
.left-side {
    color: var(--primary-color);
}
