.loading {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading img {
    max-width: 12rem;
    object-fit: contain;
    animation: fade 1.5s linear infinite;
    -webkit-animation: fade 1.5s linear infinite;
}

@keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

/* media query */

@media screen and (max-width : 767px) {
    .loading img {
        max-width: 8rem;
    }
}

